.header__logo {
  margin: 45px 0 41px;
  background-image: url(../../../images/logo.svg);
  background-size: cover;
  max-width: 142px;
  min-height: 33px;
}

@media screen and (max-width: 1023px) {
  .header__logo {
    margin: 28px 0 31.6px 27px;
  }
}

@media screen and (max-width: 479px) {
  .header__logo {
    max-width: 103.74px;
    min-height: 24.4px;
  }
}
