.profile {
  padding-bottom: 51px;
  display: flex;
  align-items: center;
  position: relative;
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    padding: 0 19px 36px;
  }
}
